@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,600;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}

root {
  --font-blue: linear-gradient(0deg, #054cfc, #054cfc);
}

.app {
  margin: 0px 128px;
}
